.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputEl {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.InputEl:focus {
    outline: 1px solid #42c1c8;
    border: 2px solid #90c8c0;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #fa948f;
}